.container {
  font-family: "Ruda", serif;
  background-color: #181818;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.boxTitleSistem {
  background-color: #aed6f1;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #1a1a1a;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 2rem;
}

.subtitle {
  color: #333333;
  font-weight: 600;
  font-size: 1.5rem;
}

/* ------------------sistema-----------------------*/

.sistem {
  width: 100%;
  padding: 6rem 0rem 3rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 20%;
  height: 40rem;
  background-image: linear-gradient(150deg, #2e9d00, 100%, #ffde59 0%);
  border-radius: 22px;
  transition: all 0.3s;
}

.card2 {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 0.1rem;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px #2f9d0073;
}

.card2 h2 {
  font-size: 1.5rem;
  color: #ffde59;
}

.card2 label {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.card2 input {
  width: 100%;
  height: 4vh;
  color: #fff;
  background-color: #202020;
  border: 0.5px solid #ffde59;
}

.card2 button {
  background-image: linear-gradient(45deg, #2e9d00, #ffde59);
  border: none;
  color: #fff;
  font-family: "Ruda", serif;
  padding: 10px 20px;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

.card2 button:hover {
  background-image: linear-gradient(45deg, #ffde59, #2e9d00);
  box-shadow: 0 0 15px 5px #2f9d0041;
}

.calcule {
  width: 80%;
  margin: 0.8rem 0rem 0.8rem 0rem;
}

.card2 p {
  color: #fff;
  font-weight: bold;
  margin: 0.8rem;
}

/*-------------------------Fim sistema--------------------------*/
/* ---------------------------- Resultado-----------------------*/

.results {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.results p {
  color: #fff;
  font-size: 2rem;
}

.results button {
  background-image: linear-gradient(45deg, #2e9d00, #ffde59);
  border: none;
  color: #fff;
  font-family: "Ruda", serif;
  padding: 10px 20px;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

.results button:hover {
  background-image: linear-gradient(45deg, #ffde59, #2e9d00);
  box-shadow: 0 0 15px 5px #2f9d0041;
}

.obsResults {
  width: 30vw;
}

.obsResults span {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obsResults img {
  margin: 0;
}

.obsResults p {
  font-size: 1rem;
  margin: 0.5rem;
}

/*-----------------------------Fim resultado -----------------------------*/
/* ---------------------------- Salvamento-----------------------------------*/

.boxSave {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem 1rem 0rem;
}

.boxSave label {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.boxSave input {
  width: 100%;
  height: 4vh;
  color: #fff;
  background-color: #202020;
  border: 0.5px solid #ffde59;
}

/* --------------------------fim salvamento-------------------*/

.chartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------Backup -------------------------------*/
.dataHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tableBackup {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
  max-width: 1120px;
  margin: 20px auto;
  word-break: break-all;
}

.trBackup {
  text-align: center;
  border-bottom: #2e9d00 solid 3px;
  padding: 10px;
}
