.main {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/backgroundInfo.png);
  background-size: cover;
  background-position: center;
  background-color: #181818;
  border-bottom: 0.5px solid #ffde59;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerLeft {
  display: flex;
  margin-right: 16rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0rem 0rem 0rem 3rem;
}

.containerRight {
  display: flex;
  flex-direction: column;
  margin: 0rem 9rem 0rem 0rem;
}

.containerRight section {
  background-color: #181818;
  width: 100%;
  padding: 1rem; /* Mantém o padding */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Evita que o padding aumente o tamanho */
}

.containerRight .pieBarContainer {
  display: flex;

  justify-content: space-between;
  gap: 0.5rem;
  margin: 0rem 0rem 0.5rem 0rem;
  width: 75%; /* Garante o preenchimento completo */
  height: 100%; /* Faz a altura do container ocupar o espaço total */
}

.containerRight .lineContainer {
  grid-column: span 2; /* Ocupa as duas colunas */
  display: flex;
  justify-content: center;
  width: 100%; /* Garante alinhamento correto */
  height: 100%; /* Ajusta a altura para corresponder aos gráficos superiores */
}

.paragraph {
  color: #ffde59;
  font-family: "Ruda", serif;
  letter-spacing: 0.1px;
  font-weight: bold;
  font-size: 4rem;
  transform: translateX(-600px);
  animation: slideIn 0.7s ease-out forwards;
}

.paragraph:nth-child(1) {
  animation-delay: 0s;
}

.paragraph:nth-child(2) {
  animation-delay: 0.2s;
}

.paragraph:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.btnMoreInfo button {
  background-image: linear-gradient(45deg, #2e9d00, #ffde59);
  border: none;
  color: #fff;
  font-family: "Ruda", serif;
  padding: 10px 20px;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

.btnMoreInfo button:hover {
  background-image: linear-gradient(45deg, #ffde59, #2e9d00);
  box-shadow: 0 0 15px 5px #2f9d0041;
}
