header {
  background-color: #181818;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

img {
  margin: 0rem 0.5rem 0rem 3rem;
}

span {
  color: #fff;
  font-family: "Ruda", serif;
  font-size: 2.4rem;
}

h1 {
  font-family: "Bree Serif", serif;
  color: #fff;
  font-size: 1.7rem;
}

:link {
  text-decoration: none;
}
