.header {
  background-color: #181818;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  gap: 1rem; /* Espaço entre o logo e o texto */
}

img {
  margin: 0rem 0.5rem 0rem 3rem;
}

span {
  color: #fff;
  font-family: "Ruda", serif;
  font-size: 2.4rem;
}

h1 {
  font-family: "Bree Serif", serif;
  color: #fff !important;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:link {
  text-decoration: none;
}
